{% extends "layout.html.jinja2" %}
{% block content %}
        <h1>Puppy Cam</h1>

        <img alt="A camera stream using motion JPEG." src="/camera" />
        <br/>
        <form action="{{ sign_out }}" method="POST">
            <input type="submit" value="Sign Out">
        </form>
        <a href="{{ clips }}">View Clips</a>
{% endblock %}