<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Puppy Cam</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body class="bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">Puppy Cam</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="navbar-nav mr-auto">
                        {% block navigation %}
                        {% endblock %}
                    </ul>
                    {% block session %}
                    {% endblock %}
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>