<html>
    <head>
        <title>Puppy Cam</title>
    </head>
    <body>
        <h1>Puppy Cam</h1>
        <p>
            You must be logged in to access the camera stream.
        </p>

        <form method="POST">
            <input type="submit">Sign In</>
        </form>
    </body>
</html>
