{% extends "layout.html.jinja2" %}
{% block session %}
    <form class="form-inline" method="POST">
        <button class="btn btn-outline-success mr-sm-0" type="submit">Sign In</button>
    </form>
{% endblock %}
{% block content %}
    <p class="text-center">
        You must be logged in to access the camera stream.
    </p>
{% endblock %}
